<gs-header [loggedUser]="loggedUser" (searchUser)="searchUser($event)" (goHome)="goHome()"></gs-header>


<div class="container" style="margin-top:10px">
    <!-- <div *ngFor="let profile of profiles" style="float:left; margin:5px;"> -->
    <div *ngIf="profile">
        <div class="card">
            <div class="card-header">
                <h5>{{profile.name}}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{profile.avatar_url}}" alt="..." class="img-thumbnail">
                    </div>
                    <div class="col-md-8">
                        <div class="stats">
                            <span class="badge badge-primary badge-custom">{{profile.public_repos}} Public Repos</span>
                            <span class="badge badge-warning badge-custom">{{profile.public_gists}} Public Gists</span>
                            <span class="badge badge-success badge-custom">{{profile.followers}} Followers</span>
                            <span class="badge badge-info badge-custom">{{profile.following}} Following</span>
                        </div>
                        <br />
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Username: </strong>{{profile?.login | blank}}</li>
                            <li class="list-group-item"><strong>Location: </strong>{{profile?.location | blank}}</li>
                            <li class="list-group-item"><strong>Email: </strong>{{profile?.email | blank}}</li>
                            <li class="list-group-item"><strong>Blog: </strong>{{profile?.blog | blank}}</li>
                            <li class="list-group-item"><strong>Member since: </strong>{{profile?.created_at | date }}
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="profile.repos && profile.repos.length > 0" class="card" style="margin: 10px 0px;">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <span style="font-size:larger;font-weight:600;">
                            Repos</span>({{profile.repos.length}})

                    </div>
                    <div class="col-md-6" *ngIf="profile.loggedUser">
                        <div class="float-right">Create New Repo
                            <i class="fa fa-plus font-awesome create" (click)="createRepository()"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngFor="let repo of profile.repos">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h5>
                                    <p>{{repo?.description}}</p>
                                </div>
                                <div [ngClass]="profile.loggedUser == true? 'col-md-3' : 'col-md-4'" >
                                    <span class="badge badge-primary badge-custom" style="float: right;">{{repo.watchers}} Watchers</span>
                                    <span class="badge badge-warning badge-custom" style="float: right;">{{repo.forks}} Forks</span>
                                </div>
                                <div class="col-md-1" *ngIf="profile.loggedUser" (click)="deleteRepository(repo.name)">
                                        <i class="fa fa-trash" style="color: red;cursor: pointer;"></i>
                                </div>
                            </div>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<alert-dialog></alert-dialog>