<nav class="navbar navbar-light sticky-top navbar-expand-lg nav-header">
    <a class="navbar-brand" (click)="home()" style="cursor: pointer;">
        <i class="fa fa-1x fa-github"></i>
        Find Git
    </a>
    <div class="nav-custom">
        <form class="form-inline" 
              #searchForm="ngForm" 
              (ngSubmit)="findUser(searchForm)" 
              novalidate>

            <input class="form-control mr-sm-2" 
                   type="search" 
                   placeholder="Github Username" 
                   [(ngModel)]="userName"
                   name="username" 
                   autocomplete="off" 
                   required>

            <button class="btn btn-outline-success" 
                    type="submit" 
                    [disabled]="searchForm.invalid">Search</button>
        </form>

        <span class="navbar-text" style="margin-left: 10px;color: white">
            {{user}}
        </span>
        <button type="button" class="close" aria-label="Close" (click)="logout()">
            <span aria-hidden="true" style="color:#d1d1f0">&times;</span>
        </button>
    </div>

</nav>