<div class="confirm-dialog">
    <div class="modal-header">
    <h4 class="modal-title confirm-dialog-title">{{ title }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body confirm-dialog-body">
      {{ message }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light btn-outline-dark btn-lg" (click)="decline()">{{ btnCancelText }}</button>
      <button type="button" class="btn btn-primary btn-lg" (click)="accept()">{{ btnOkText }}</button>
    </div> 
</div>