<div class="container login-header">

    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">

            <div *ngFor="let data of signconfigData">
                <a href={{data.url}}
                    class="btn btn-override btn-margin"
                    [ngClass]="{'disabled': data.url == '#'}"
                    [class]="data.btnColor">
                    <i class={{data.icon}}></i> {{data.msg}}
                </a>

            </div>
        </div>
    </div>
</div>