.login-header{
    margin: 100px auto 0px;
    width: 400px
}

.btn-override{
    margin: auto;
    display: block;
}

a.btn-margin{
    margin-bottom: 10px;
}

a.disabled {
    
    cursor: not-allowed;
    
}