<div *ngIf="message" class="alert-body">

    <div class="alert alert-dismissible fade show alert-box " [ngClass]="getAlertClass().class" role="alert">

    <div class="icon">
        <i class="fa-5x" [ngClass]="getAlertClass().icon"></i>
    </div>

    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" >&times;</span>
    </button>

    <div class="message">
        {{message.text}}
    </div>
</div>