.alert-body {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.alert-box{
    margin: auto;
    width: 300px;
    height: 200px;
}

.icon{
    position: absolute;
    left: 36%;
    top: 15%;
}

.message{
    position: absolute;
    top: 65%;
}