<div class="modal-header">
    <h4 class="modal-title">Create New Repository</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div #longContent class="modal-body">
      <form novalidate 
            [formGroup]="createRepository"
            (ngSubmit)="create()">

          <div class="form-group row">
              <label for="repoNameId" 
                     class="col-sm-3 col-form-label">Repo Name
              <span style="color: red;">*</span></label>
              <div class="col-sm-9">
                  <input type="text"
                         id="repoNameId"  
                         class="form-control" 
                         placeholder="Repository name (required)"
                         formControlName="name"
                         [ngClass]="{ 'is-invalid': errorMessages}">

                    <span class="invalid-feedback" *ngIf="createRepository.get('repoName')?.errors">
                        {{errorMessages}}
                    </span>
              </div>
          </div>

          <div class="form-group row">
              <label for="repoDescriptionId" 
                     class="col-sm-3 col-form-label">Description</label>
              <div class="col-sm-9">
                  <textarea class="form-control" 
                            id="repoDescriptionId" 
                            formControlName="description"></textarea>
              </div>
          </div>

          <div class="form-group row mb-2">
                <div class="col-md-8">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" 
                                 class="form-check-input" 
                                formControlName="private">Private
                        </label>
                    </div>
                </div>
            </div>

      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button type="submit" class="btn btn-primary" [disabled]="createRepository.invalid" (click)="create()">Create</button>
  </div>